<!-- ESSE ARQUIVO É UM PARTIAL
    PARTIALS SAO PEDAÇOS DE CÓDIGOS QUE PODEM SER RENDERIZADOS RAPIDAMENTE COM A TAG "INCLUDE" NO EJS
    SÓ É PRECISO DEFINIR EM QUAL DIRETORIO ESTÁ O PARTIAL E SELECIONAR O ARQUIVO
-->


<style>


    nav{
        padding: 20px;
        background-color: darkblue;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    a{
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        background-color: lightsalmon;
    }
</style>
<nav>
    <h1>LOGO</h1>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
</nav>